show.js.coffee
<p><a {{bind-attr href="google"}} target="_blank">{{name}}</a></p>

{{view Ember.Select
  prompt="Fem-level?"
  content=femLevels
  optionValuePath="content.level"
  optionLabelPath="content.title"
  value=fem_level }}

<button
  {{bind-attr class="isDirty:visible:hidden"}}
  {{action 'save'}}>Save</button>

<p>{{#link-to 'artists.show' prev}}<<{{/link-to}}</p>
<p>{{#link-to 'artists.index' }}artists{{/link-to}}</p>
<p>{{#link-to 'artists.show' next}}>>{{/link-to}}</p>
