<h1><a {{bind-attr href="google"}} target="_blank">{{name}}</a></h1>

<img class="next-artist" src="/assets/next.png" {{action 'notherOne'}} />

<div class="fem-level" {{action 'femIt' null}}>
  <img src="/assets/fem-level-null.jpg" />
  <p class="text">I don't know</p>
</div>

<div class="fem-level" {{action 'femIt' 0}}>
  <img src="/assets/fem-level-0.jpg" />
  <p class="text">None</p>
</div>

<div class="fem-level" {{action 'femIt' 1}}>
  <img src="/assets/fem-level-1.jpg" />
  <p class="text">Backing Member</p>
</div>

<div class="fem-level" {{action 'femIt' 2}}>
  <img src="/assets/fem-level-2.jpg" />
  <p class="text">Female Fronted</p>
</div>

<div class="fem-level" {{action 'femIt' 3}}>
  <img src="/assets/fem-level-3.jpg" />
  <p class="text">Shared</p>
</div>

<div class="fem-level" {{action 'femIt' 4}}>
  <img src="/assets/fem-level-4.jpg" />
  <p class="text">All Female</p>
</div>


<img class="next-artist" src="/assets/next.png" {{action 'notherOne'}} />
